.git
.nx
.pnp.*
.env
.env.*
!.env.example

node_modules
**/node_modules
deps
**/deps
_build
**/_build
.elixir_ls
**/.elixir_ls

dist
build
coverage
storybook-static
tmp

apps/**/.output
apps/**/.vinxi

*.log
pnpm-debug.log*
